#Terraform Variabler
terraform.tfvars


#VM installaasjon
installDocker.sh


#ekstra
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

#spotifyAPI
.env

#Automatisering
Python-Scripting-Project
JSON_and_CSV.py
Bok1.xlsx
backup
discordMessage.sh
config.py


__pycache__/
Automatisering/__pycache__/