#Terraform Variabler
terraform.tfvars

#ekstra
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

#spotifyAPI
.env

#Automatisering
Python-Scripting-Project
JSON_and_CSV.py
Bok1.xlsx
backup